<div class="row">
  <div class="col-sm-8">    
      <div class="jumbotron">
          <h1>Log into VisualEyes with</h1>
          <a href="/login/github"><img src="https://static.addtoany.com/images/blog/github-icon.png"/></a>
      </div>
  </div>
