<div class="row">
  <div class="col-sm-8">
      <div class="jumbotron">

          <body style="background-color: burlywood">
              <style type="text/css" scoped>
                  header {
                      color: blue
                  }

                  h1 {
                      color: red;
                      text-align: center
                  }

                  h2 {
                      color: blue;
                      text-align: center;
                  }

                  .aligncenter {
                      text-align: center
                  }
                
  
              </style>

              <h1> Welcome To VisualEyes</h1>


              <h2> Click for secure authorized login </h2>
              <p class="aligncenter">
                  <a href="/login/github">
                  <img src="https://static.addtoany.com/images/blog/github-icon.png" />
                  </a>
              </p>
              </style>
      </div>
  </div>