<div class="row">
  <div class="col-sm-8">
      <div class="jumbotron">

          <body style="background-color: burlywood">
              <style type="text/css" scoped>
                  header {
                      color: blue
                  }

                  h1 {
                      color: red;
                      text-align: center
                  }

                  h2 {
                      color: blue;
                      text-align: center;
                  }

                  .aligncenter {
                      text-align: center
                  }
                  video::-webkit-media-controls-start-playback-button {
                display: none !important;
              }
                
                .no-bg {
                  background-color: transparent !important;
                  background-image: none !important;
                  overflow: hidden !important;
                }

                .backgrounds > div {
                  transform: scale(1.03);
                  transform: translate3d(0,0,0);
                  -webkit-transform: translate3d(0,0,0);
                  -webkit-backface-visibility: hidden;
                }

                .next-prev-container div {
                  transform: translate3d(0,0,0);
                  -webkit-transform: translate3d(0,0,0);
                  -webkit-backface-visibility: hidden;
                }

  
              </style>

              <h1> Welcome To VisualEyes</h1>


              <h2> Click for secure authorized login </h2>
              <p class="aligncenter">
                  <a href="/login/github">
                  <img src="https://static.addtoany.com/images/blog/github-icon.png" />
                  </a>
              </p>
              </style>
      </div>
  </div>