@import './fileContainer';
@import './dbContainer';

*{
  margin: 0px;
}
body{
  background-color: rgba(209, 209, 209, 0.2);
  font-family: Arial, Helvetica, sans-serif;
}
#container{
  display: flex;
}